$body-bg: hsl(0, 0%, 70%);
$primary: hsl(198, 78%, 64%);
$secondary: hsl(53, 98%, 65%);
$success: hsl(79, 54%, 51%);
$info: hsl(13, 77%, 55%);
$warning: hsl(24, 96%, 55%);
$danger: hsl(0, 100%, 50%);
$light: hsl(210, 16%,80%);
$dark: hsl(198, 78%, 14%);
$grey: hsl(0, 0%, 50%);

$font-sans-serif: Open Sans;
$font-monospace: 'Josefin Sans', sans-serif, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, ;
$gradient: linear-gradient(
  25deg,
  hsl(243, 100%, 7%) 0%,
  hsl(240, 86%, 25%) 35%,
  hsl(198, 78%, 64%) 250%
);

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
